--
-- PostgreSQL database dump
--

-- Dumped from database version 14.10 (Debian 14.10-1.pgdg120+1)
-- Dumped by pg_dump version 14.9

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: c; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.c (
    client_id integer,
    gender character(1),
    age integer
);


ALTER TABLE public.c OWNER TO admin;

--
-- Name: m; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.m (
    merchant_id integer,
    latitude numeric(8,6),
    longtitude numeric(8,6),
    mcc_cd integer
);


ALTER TABLE public.m OWNER TO admin;

--
-- Name: t; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.t (
    transaction_id integer NOT NULL,
    merchant_id integer,
    client_id integer,
    transaction_dttm timestamp without time zone,
    transaction_amt numeric(10,2)
);


ALTER TABLE public.t OWNER TO admin;

--
-- Name: client_summary_matview; Type: MATERIALIZED VIEW; Schema: public; Owner: admin
--

CREATE MATERIALIZED VIEW public.client_summary_matview AS
 SELECT c.gender,
        CASE
            WHEN (c.age <= 18) THEN 'Under 18'::text
            WHEN ((c.age >= 19) AND (c.age <= 30)) THEN '19-30'::text
            ELSE 'Over 30'::text
        END AS age_group,
    m.mcc_cd AS industry,
    EXTRACT(year FROM t.transaction_dttm) AS year,
    EXTRACT(month FROM t.transaction_dttm) AS month,
    sum(t.transaction_amt) AS purchase_amt,
    round(avg(t.transaction_amt), 2) AS avg_purchase_amt,
    count(t.transaction_amt) AS count_purchases
   FROM ((public.t
     JOIN public.m ON ((t.merchant_id = m.merchant_id)))
     JOIN public.c ON ((t.client_id = c.client_id)))
  GROUP BY c.gender,
        CASE
            WHEN (c.age <= 18) THEN 'Under 18'::text
            WHEN ((c.age >= 19) AND (c.age <= 30)) THEN '19-30'::text
            ELSE 'Over 30'::text
        END, m.mcc_cd, (EXTRACT(year FROM t.transaction_dttm)), (EXTRACT(month FROM t.transaction_dttm))
  WITH NO DATA;


ALTER TABLE public.client_summary_matview OWNER TO admin;

--
-- Data for Name: c; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: m; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: t; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Name: t t_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.t
    ADD CONSTRAINT t_pkey PRIMARY KEY (transaction_id);


--
-- Name: client_summary_matview; Type: MATERIALIZED VIEW DATA; Schema: public; Owner: admin
--

REFRESH MATERIALIZED VIEW public.client_summary_matview;


--
-- PostgreSQL database dump complete
--

